@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


.leftbox {
  float:left;
  width:45%;
  margin-top: 20px;
  margin-left: 10px;
  /*background-color: white;*/
  height:100px;
}
.rightbox {
  float:right;
  width:45%;
  margin-top: 20px;
  margin-left: 25px;
  /*background-color: white;*/
  height:100px;
}

