
  <div class = "row">
    <div class = "col-md-6" *ngIf="!displayFlightList && !bookFlight" >
  <form [formGroup]="searchflightForm" (ngSubmit)="onSubmit()">
  <div>
  <ng-container *ngFor="let eachConfig of formConfig1">
      <div class = {{eachConfig.text}}>
      <div class = "form-group">
      <label>{{eachConfig.label}}</label>
      <select formControlName= {{eachConfig.name}}
              class="form-control" >
        <option *ngFor="let eachAirport of airportList"
                [value]='eachAirport.location_abbr'>{{eachAirport.location_abbr}}</option>
      </select>
      </div>
      <span class = "error"
        *ngIf="searchflightForm.get(eachConfig.name).hasError('required')
              && searchflightForm.get(eachConfig.name).touched">{{eachConfig.errorMsg}}
      </span>
      </div>
  </ng-container>
  </div>

  <div>
  <ng-container *ngFor="let eachConfig of formConfig2">
    <div class = {{eachConfig.text}}>
      <label>{{eachConfig.label}}</label>
      <input type ={{eachConfig.type}}
             formControlName={{eachConfig.name}}
             class="form-control">

      <span class = "error"
        *ngIf="searchflightForm.get(eachConfig.name).hasError('required')
              && searchflightForm.get(eachConfig.name).touched">{{eachConfig.errorMsg}}
      </span>
    </div>

  </ng-container>
  </div>

  <div>
  <ng-container *ngFor="let eachConfig of formConfig3">
    <div class = {{eachConfig.text}}>
      <label>{{eachConfig.label}}</label>
      <select formControlName= {{eachConfig.name}}
              class="form-control" >
        <option *ngFor="let eachFlightClass of FlightClass"
                [value]='eachFlightClass'>{{eachFlightClass}}</option>
      </select>

      <span class = "error"
        *ngIf="searchflightForm.get(eachConfig.name).hasError('required')
              && searchflightForm.get(eachConfig.name).touched">{{eachConfig.errorMsg}}
      </span>
    </div>
  </ng-container>
  <ng-container *ngFor="let eachConfig of formConfig4">
    <div class = {{eachConfig.text}}>
      <label>{{eachConfig.label}}</label>
      <select formControlName= {{eachConfig.name}}
              class="form-control" >
        <option *ngFor="let eachCount of PassengerCount"
                [value]='eachCount'>{{eachCount}}</option>
      </select>
      <span class = "error"
        *ngIf="searchflightForm.get(eachConfig.name).hasError('required')
              && searchflightForm.get(eachConfig.name).touched">{{eachConfig.errorMsg}}
      </span>
    </div>
  </ng-container>
  </div>
  </form>
    </div>
    <div class = "col-md-6"></div>
  </div>

    <div class = "row">
      <div class = "col-md-6">
        <div class = "rightbox"></div>
<!--        <div class = "leftbox"></div>-->
<!--        <div class = "leftbox"></div>-->
<!--        <div class = "leftbox"></div>-->
      <div class = "rightbox">
       <input class = "btn btn-success" type = "submit" value = "Search Flight" [disabled]="searchflightForm.invalid">
      </div>
      </div>
      <div class = "col-md-6">
      </div>
    </div>


  <div class="col-md-12">
  <app-displayflightdetails [flightSelection]= 'flightList' [classSelected] = 'psgClass' [passengerCount] = 'seatsBus'
                            (flightSelected)='onReceipt($event)' *ngIf="displayFlightList"></app-displayflightdetails>

    <app-bookinginfo [flightSelected]= 'selectedFlight' [classSelected] = 'psgClass' [passengerCount] = 'seatsBus'
                              (flightBooked)='onReturn($event)' *ngIf="bookFlight"></app-bookinginfo>


  </div>

