<div *ngIf="displayFlightList">

  <div>Search By AirLine:
    <input [(ngModel)]="srchString"/></div>

  <div class="alert alert-success" *ngIf="statusFlag">
    Flight Edited Successfully
  </div>
  <div>
    <table class="table table-striped">

      <!--  <tr>-->
      <!--    <td>-->
      <!--      {{classSelected}}-->
      <!--    </td>-->
      <!--    <td>-->
      <!--      {{passengerCount}}-->
      <!--    </td>-->
      <!--  </tr>-->
      <thead>
  <tr>
    <th>AirLine</th>
    <th>From</th>
    <th>To</th>
    <th>Departure Time</th>
    <th>Arrival Time</th>
    <th>Business Class Fare</th>
    <th>First Class Fare</th>
    <!--    <th>Price</th>-->
  </tr>
  </thead>
  <tbody>
  <!--| filter: 'airline'
  : srchString-->
  <tr *ngFor="let eachflight of flightSelection | paginate:{ itemsPerPage: 5,currentPage: page}">
    <td>{{eachflight.airline}}</td>
    <td>{{eachflight.arr_abbr}}</td>
    <td>{{eachflight.dept_abbr}}</td>

    <td>{{eachflight.dept_time }}</td>
    <td>{{eachflight.arr_time }}</td>
    <td>{{eachflight.fare_business | currency: 'INR'}}</td>
    <td>{{eachflight.fare_first | currency: 'INR'}}</td>

    <!--    <td>{{eachflight.fare | currency: 'INR'}} </td>-->
    <button (click)="onEdit(eachflight)" class="btn btn-info fa fa-edit">Edit Flight Details</button>
  </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="page=$event"></pagination-controls>
  </div>
</div>
<div class="col-md-12">
  <app-editflightschedule [flightSelectedObj]='flightSelected'
                          (succcessFlag)='onReturn($event)' *ngIf="editFlight"></app-editflightschedule>

</div>
