<table class="table table-striped" >
  <thead><td>Search By AirLine</td>
  <td><input [(ngModel)]="srchString"></td>
  <tr>
    <td>
      {{classSelected}}
    </td>
    <td>
      {{passengerCount}}
    </td>
  </tr>

  <tr>
    <th>Flight AirLine</th>
    <th>Departure Time</th>
    <th>Arrival Time</th>
    <th>Business Class Fare</th>
    <th>First Class Fare</th>
    <!--    <th>Price</th>-->
  </tr>
  </thead>
  <tbody>
  <!--| filter: 'airline'
  : srchString-->
  <tr *ngFor="let eachflight of flightSelection | paginate:{ itemsPerPage: 5,currentPage: page}">
    <td>{{eachflight.airline}}</td>
    <td>{{eachflight.dept_time }}</td>
    <td>{{eachflight.arr_time }}</td>
    <td>{{eachflight.fare_business | currency: 'INR'}}</td>
    <td>{{eachflight.fare_first | currency: 'INR'}}</td>
    <!--    <td>{{eachflight.fare | currency: 'INR'}} </td>-->
    <button (click)="onEdit(eachflight)" class="btn btn-info fa fa-edit"> Book</button>
  </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="page=$event"></pagination-controls>
