<!--
<header >
  <div>
      <div>
&lt;!&ndash;        <img src = "assets/images/profile.png" height="64" width="600" alt="logo" />&ndash;&gt;
        <h2> Welcome to JPMC Airlines !</h2>
      </div>
  </div>
</header>
-->
<div class="wrapper">
  <h1><a href="index.html" id="logo">AirLines</a></h1>
  <span id="slogan">Fast, Frequent &amp; Safe Flights</span>
<!--  <div class = 'col-md-4'></div>-->
    <span class = "bg-primary user col-text-right" *ngIf="userLogged">
      &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp;
      Current User : {{userName}}</span>

</div>
<nav>
  <ul id="menu">
    <app-menu></app-menu>
  </ul>
</nav>
