@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.leftbox {
  float:left;
  /*width:16%;*/
  margin-top: 15px;
  margin-left: 3%;
  /*background-color: white;*/
  height:100px;
  width: 200px;
}
.rightbox {
  float: left;
  /*width:16%;*/
  margin-top: 20px;
  margin-left: 10%;
  /*background-color: white;*/
  /*height:60px;*/
  /*width: 200px;*/
  width: 200px;

}

.error {
  margin-top: 0px;
  margin-left: 3%;
  font-style: italic;
  /*border: 2px red solid;*/
  color: red;

  /*background-color: white;*/
  /*height:60px;*/
  /*width: 200px;*/
}

