
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <p>{{loginStatus}}</p>
    <h4>New User - Register With Us !</h4>
    <button>Register</button>
    <h4>   -------------------------------- OR --------------------------------------  </h4>
  </div>
  <ng-container *ngFor="let eachConfig of formConfig">
    <div class="form-group">
      <label>{{eachConfig.label}}</label>
      <input type={{eachConfig.type}} name={{eachConfig.name}}
             formControlName={{eachConfig.name}} class="form-control" />
      <span *ngIf="loginForm.get(eachConfig.name).hasError('required')
  && loginForm.get(eachConfig.name).touched">{{eachConfig.errorMsg}}</span>
    </div>
  </ng-container>

  <div class = "container-fluid">
  <div class = "row">
    <span class = "col-md-10"></span>
    <span class = "col-md-2">
       <input class = "btn btn-info" type = "submit" value = "Login" [disabled]="loginForm.invalid">
      </span>
  </div>
  </div>

<div class = "container-fluid">
  <div class = "row">
    <span class = "col-md-3"></span>
    <div class = "col-md-6">
      <div [hidden]="!invalidUser" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning ! </strong>{{this.serviceCallError}}
      </div>
    </div>
    <span class = "col-md-3"></span>
  </div>
</div>

</form>
