
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class = "container-fluid">
<!--    <p>{{loginStatus}}</p>-->
    <div class = "row">
      <div class = "col-sm-1"></div>
      <h4> Register with us </h4>
    </div>


      <div class = "row">
        <div class = "col-sm-1"></div>
        <input class="btn btn-info" (click)="onRegister()" value="Register">
      </div>

    <div class = "row"></div>

    <div class = "row">

    <h4>   -------------------------------- OR --------------------------------------  </h4>
    </div>
  </div>
  <ng-container *ngFor="let eachConfig of formConfig">
    <div class="form-group">
      <label>{{eachConfig.label}}</label>
      <input type={{eachConfig.type}} name={{eachConfig.name}}
             formControlName={{eachConfig.name}} class="form-control" />
      <span *ngIf="loginForm.get(eachConfig.name).hasError('required')
  && loginForm.get(eachConfig.name).touched">{{eachConfig.errorMsg}}</span>
    </div>
  </ng-container>

  <div class = "container-fluid">
  <div class = "row">
    <span class = "col-md-10"></span>
    <span class = "col-md-2">
       <input class = "btn btn-info" type = "submit" value = "Login" [disabled]="loginForm.invalid">
      </span>
  </div>
  </div>


<div class = "container-fluid">
  <div class = "row">
    <span class = "col-md-3"></span>
    <div class = "col-md-6">
      <div [hidden]="!invalidUser" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning ! </strong>{{this.serviceCallError}}
      </div>
    </div>
    <span class = "col-md-3"></span>
  </div>
</div>

</form>
