<li *ngFor = "let eachLink of userlinks">
  <!--    <a href = "{{eachLink}}">{{eachLink}}</a>-->
  <a [routerLink]="[eachLink.link]">
    <span>
      <span>{{eachLink.text}}</span>
    </span>
  </a>

</li>
<li class="end">
  <a [routerLink]="['/login']" [ngStyle]="{display: showLogin}">
    <span>
      <span>Login</span>
    </span>
  </a>
</li>
<li class="end">
  <a [routerLink]="['logout']" [ngStyle]="{display: showLogout}">
    <span>
      <span>Logout</span>
    </span>
  </a>
</li>


<!--

<nav class="navbar navbar-inverse navbar-expand-md bg-dark navbar-dark sticky-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="assets/images/profile.png" alt="Logo" style="width:40px;"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" [hidden]="!visitor">
              <ul class="nav navbar-nav">

          <li class = "nav-item" *ngFor = "let eachLink of userlinks">
          &lt;!&ndash;    <a href = "{{eachLink}}">{{eachLink}}</a>&ndash;&gt;
          <a class = "nav-link" [routerLink]="[eachLink.link]">{{eachLink.text}}</a>
        </li>
              </ul>

                <ul class="nav navbar-nav navbar-right">

        <li class = "nav-item"><a class = "nav-link" [routerLink]="['/login']" [ngStyle]="{display: showLogin}">Login</a> </li>
        <li class = "nav-item"><a class = "nav-link" [routerLink]="['/logout']" [ngStyle]="{display: showLogout}">Logout</a> </li>
                </ul>

&lt;!&ndash;      </div>&ndash;&gt;
    </div>
  </div>
</nav>

-->
