<!--{{bookingList[0].booking_id |json}}-->

<!--{{bookingList|json}} print the value in json-->


<div class="alert alert-danger" *ngIf="deleteError">
  Error Cancelling Booking
</div>
<div class="alert alert-success" *ngIf="successFlag">
  Success! Your Booking Cancelled Successfully
</div>
<ng-template #Success>
  "Delete Successful"
</ng-template>

<table class="table table-dark table-striped table-hover table-bordered">
  <thead class="thead-dark">
  <!--    <th>From</th>-->
  <!--    <th>To</th>-->
  <!--    <th>Airline</th>-->
  <th>Flight Date</th>
  <th>Customer Email</th>
  <th>Class</th>
  <th>Seats Booked</th>
  <th>Total Fare</th>
  <th>Print Ticket</th>
  <th>Status</th>


  </thead>
  <tr *ngFor="let eachBooking of bookingList  | paginate : {itemsPerPage:5,currentPage:p}" >

    <td>{{eachBooking.flightDate}}</td>
    <td>{{eachBooking.cust_email}}</td>
    <td>{{eachBooking.class_type}}</td>
    <td>{{eachBooking.noOfPass}}</td>
    <td>{{eachBooking.total_fare | currency: 'INR'}}</td>
    <td>
      <button (click)="viewTicket(eachBooking)"
              class="btn btn-primary btn-block fa fa-envelope">&nbsp; &nbsp; Print Ticket &nbsp; &nbsp;</button>
    </td>
    <td>
      <button *ngIf="((now | date) <= (eachBooking.flightDate | date))"
              (click)="cancelBookingEntry(eachBooking,template)"
              class="btn btn-danger fa fa-remove">Cancel
      </button><!--    </td>-->
      <ng-template #template>
        <div class="modal-body text-center">
          <p>Do you want to confirm?</p>
          <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
          <button type="button" class="btn btn-primary" (click)="decline()">No</button>
        </div>
      </ng-template>
      <!--    <td>-->
      <button *ngIf="((now | date) >= (eachBooking.flightDate | date))
      && ('N' === (eachBooking.statusFlag))"
              class="btn btn-secondary btn-block fa fa-archive" [disabled]="true">&nbsp;&nbsp;Travelled &nbsp;&nbsp;</button>
      <!--    </td>-->

      <!--    <td>-->
      <button *ngIf="('Y' === (eachBooking.statusFlag))"
              class="btn btn-warning btn-block fa fa-exclamation" [disabled]="true">&nbsp;&nbsp;Cancelled&nbsp;&nbsp;</button>
    </td>
  </tr>
</table>
<pagination-controls (pageChange) = "p=$event"></pagination-controls>


<!--<button type="button" class="btn btn-primary" (click)="openModal(template)">Open modal</button>-->
<!--<ng-template #template>-->
<!--  <div class="modal-body text-center">-->
<!--    <p>Do you want to confirm?</p>-->
<!--    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>-->
<!--    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>-->
<!--  </div>-->
<!--</ng-template>-->
