<div class="alert alert-danger" *ngIf="flightSelection.length == 0">
  Sorry . No Flights found for your search
</div>

<table class="table table-dark table-striped table-hover" *ngIf="flightSelection.length > 0">
  <thead><td>Search By AirLine</td>
  <td><input [(ngModel)]="srchString"></td>
  <tr>

    <td>From :{{flightSelection[0].dept_abbr}}</td>
    <td>To :{{flightSelection[0].arr_abbr}}</td>
    <td>Class: {{classSelected}}</td>
    <td>Pass Count :{{passengerCount}}</td>
  </tr>

  <tr>
    <th>Flight AirLine</th>
    <th>Departure Time</th>
    <th>Arrival Time</th>
    <th>Fare</th>
    <!--    <th>Price</th>-->
  </tr>
  </thead>
  <tbody>
  <!--| filter: 'airline'
  : srchString-->
  <tr *ngFor="let eachflight of flightSelection | filter: 'airline': srchString  | paginate:{ itemsPerPage: 5,currentPage: page}">
    <td>{{eachflight.airline}}</td>
    <td>{{eachflight.dept_time | date: 'medium'}}</td>
    <td>{{eachflight.arr_time | date: 'medium'}}</td>
    <td>{{eachflight.fare_business | currency: 'INR'}}</td>
    <button (click)="onBook(eachflight)" class="btn btn-info btn-block fa fa-plane"> &nbsp; Book &nbsp; </button>
  </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="page=$event" *ngIf="flightSelection.length > 0"></pagination-controls>
